* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}

header {
    font-family: 'Handlee', cursive;
    flex: 0 1 30vw;
    height: 15vh;
    font-size: 4em;
    line-height: 15vh;
    text-align: center;
    cursor: default;
}

section {
    flex: 0 0 60vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section>input {
    flex: 0 0 80%;
    height: 40px;
    font-size: 3em;
    padding: 0 5px;
    border: none;
    transition: .2s;
    border-bottom: 2px solid transparent;
}

section>input:focus {
    border-color: transparent;
    border-bottom: 2px solid black;
    outline-style: none;
    box-shadow: none;

}

section>button {
    flex: 0 1 4vw;
    height: 4vw;
    font-size: 4em;
    border: none;
    background-color: white;
    color: #8e8e8e;
    transition: .2s;
}

section>button:hover {
    color: black;
}



section>button:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

main {
    flex: 1 0 100vw;
    height: 82vh;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 3vh 6vw;
}

/* the notes style is below */
article {
    position: relative;
    margin: 0 30px 30px 0;
    flex-basis: 200px;
    /* background-color: rgb(255, 255, 117); */
    min-height: 200px;
    box-shadow: 2px 2px 5px 0px rgba(138, 138, 138, 1);
    /* transform: rotate(0deg) scale(1, 1); */
    transition: .2s;
    padding: 10px 10px;
}

article>p {
    word-break: break-all;
    font-size: 1.7em;
    font-family: roboto, sans-serif;
}

article:hover {
    transform: rotate(0deg) scale(1.2, 1.2) !important;
}

article>button {
    float: right;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 1.4em;
    background-color: transparent;
    margin-left: 10px;
    transition: .2s;
    z-index: 2;
}

article>button>* {
    pointer-events: none;
}

article>button:hover {
    cursor: pointer;
    background-color: rgb(255, 138, 117);
}